/* ! Start Template Three */

/* Start Variables */
:root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --main-transition: 0.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --section-background: #ececec;
}
/* End Variables */

/* Start Components */
.main-heading {
    padding: 10px 20px;
    color: black;
    border: 2px solid black;
    position: relative;
    width: fit-content;
    margin: 0 auto 80px;
    font-size: 30px;
    text-transform: uppercase;
    transition: var(--main-transition);
    z-index: 1;
}
.main-heading::before,
.main-heading::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    z-index: -1;
    transition: var(--main-transition);
}
.main-heading::before {
    left: -30px;
}
.main-heading:hover::before {
    animation: left-move .5s linear forwards;
}
.main-heading::after {
    right: -30px;
}
.main-heading:hover::after {
    animation: right-move .5s linear forwards;
}
.main-heading:hover {
    color: white;
    border: 2px solid white;
    background-color: var(--main-color);
    transition-delay: .5s;
}
.spikes {
    position: relative;
}
.spikes::after {
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    height: 30px;
    z-index: 1;
    background-image: linear-gradient(135deg, white 25%, transparent 25%),
    linear-gradient(225deg, white 25%, transparent 25%);
    background-size: 30px 30px;
}
.dots {
    background-image: url(../images/dots.png);
    background-repeat: no-repeat;
    height: 186px;
    width: 204px;
    position: absolute;
    z-index: -1;
}
.dots.dots-up {
    top: 200px;
    right: 0;
}
.dots.dots-down {
    bottom: 200px;
    left: 0;
}
/* End Components */

/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: 'Cairo', sans-serif;
    counter-reset: services-num;
}
html {
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End Global Rules */

/* Start Header */
header {
    background-color: white;
    position: relative;
    box-shadow: 0 0 10px #ddd;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
header .logo {
    color: var(--main-color);
    font-size: 24px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
@media (max-width: 767px) {
    header .logo {
        width: 100%;
        height: 50px;
    }
}
header .main-nav {
    display: flex;
    flex-wrap: wrap;
}
@media (max-width: 767px) {
    header .main-nav {
        margin: auto;
    }
}
header .main-nav > li > a {
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    padding: 0 30px;
    font-size: 18px;
    overflow: hidden;
    transition: var(--main-transition);
    position: relative;
}
@media (max-width: 767px) {
    header .main-nav > li > a {
        height: 40px;
        font-size: 14px;
        padding: 10px;
    }
}
header .main-nav > li > a::before {
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    top: 0;
    left: -100%;
    transition: var(--main-transition);
    position: absolute;
}
header .main-nav > li > a:hover {
    background-color: #fafafa;
    color: var(--main-color);
}
header .main-nav > li > a:hover::before {
    left: 0;
}
/* * Start Mega Menu */
header .mega-menu {
    padding: 30px;
    position: absolute;
    left: 0;
    top: calc(100% + 1px);
    z-index: -1;
    background-color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 3px solid var(--main-color);
    gap: 40px;
    top: calc(100% + 30px);
    opacity: 0;
    transition: top var(--main-transition), opacity var(--main-transition);
}
header .main-nav > li:hover .mega-menu {
    opacity: 1;
    top: calc(100% + 1px);
    z-index: 999;
}
@media (max-width: 767px) {
    header .mega-menu {
        flex-flow: column;
        gap: 0;
        padding: 5px;
    }
}
header .mega-menu .image img {
    max-width: 100%;
}
@media (max-width: 991px) {
    header .mega-menu .image {
        display: none;
    }
}
header .mega-menu .links {
    flex: 1;
    min-width: 250px;
    height: 100%;
}
header .mega-menu .links li:not(:last-child) {
    border-bottom: 1px solid #e9e6e6;
}
@media (max-width: 767px) {
    header .mega-menu .links:first-of-type li:last-child {
        border-bottom: 1px solid #e9e6e6;
    }
}
header .mega-menu .links li {
    position: relative;
}
header .mega-menu .links li::before {
    content: "";
    width: 0%;
    height: 100%;
    background-color: #fafafa;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: var(--main-transition);
}
header .mega-menu .links li:hover::before {
    width: 100%;
}
header .mega-menu .links li a {
    color: var(--main-color);
    font-weight: bold;
    text-transform: capitalize;
    font-size: 18px;
    display: block;
    padding: 15px;
}
header .mega-menu .links li a i {
    margin-right: 10px;
}
/* * End Mega Menu */
/* End Header */

/* Start Landing */
.landing {
    position: relative;
}
.landing::before {
    content: "";
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--section-background);
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left;
}
.landing .container {
    display: flex;
    align-items: center;
    padding-bottom: 120px;
    min-height: calc(100vh - 72px);
}
.landing .text {
    flex: 1;
}
@media (max-width: 991px) {
    .landing .text {
        text-align: center;
    }
}
.landing .text h1 {
    margin: 0;
    font-size: 40px;
    letter-spacing: -2px;
}
@media (max-width: 767px) {
    .landing .text h1 {
        font-size: 28px;
    }
}
.landing .text p {
    color: #666;
    font-size: 23px;
    line-height: 1.7;
    margin: 5px 0 0;
    max-width: 500px;
}
@media (max-width: 767px) {
    .landing .text p {
        font-size: 18px;
    }
}
@media (max-width: 991px) {
    .landing .text p {
        margin: 10px auto;
    }
}
.landing .image img {
    position: relative;
    width: 600px;
    animation: up-and-down 5s linear infinite;
}
@media (max-width: 991px) {
    .landing .image img {
        display: none;
    }
}
.landing .go-down {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    transition: var(--main-transition);
    color: var(--main-color);
}
.landing .go-down:hover {
    color: var(--main-color-alt);
}
.landing .go-down i {
    font-size: 35px;
    animation: bouncing 1.5s infinite;
}
/* End Landing */

/* Start Articles */
.articels {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}
.articels .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}
.articels .box {
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 2px 15px rgba(0, 0, 0,10%);
    transition: all var(--main-transition);
}
.articels .box:hover {
    box-shadow: 0 2px 15px rgba(0, 0, 0,20%);
    transform: translateY(-10px) scale(1.035);
}
.articels .box img {
    width: 100%;
    max-width: 100%;
}
.articels .box .content {
    padding: 20px;
}
.articels .box .content h3 {
    margin: 0;
}
.articels .box .content p {
    color: #777;
    line-height: 1.5;
    margin: 10px 0 0;
}
.articels .box .info {
    padding: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #e9e6e6;
}
.articels .box .info a {
    color: var(--main-color);
}
.articels .box .info i {
    color: var(--main-color);
}
.articels .box:hover .info i {
    animation: read-more var(--main-transition) linear infinite alternate;
}
/* End Articels */

/* Start Gallery */
.gallery {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: var(--section-background);
}
.gallery .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.gallery .box {
    border: 15px solid white;
    box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 / 12%);
    overflow: hidden;
    position: relative;
}
.gallery .box::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: 1;
}
.gallery .box:hover::before {
    animation: flashing .7s;
}
.gallery .box img {
    max-width: 100%;
    overflow: hidden;
    transition: var(--main-transition);
}
.gallery .box:hover img {
    transform: rotate(5deg) scale(1.1);
}
/* End Gallery */

/* Start Features */
.features {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.features .box {
    border: 1px solid #ccc;
    text-align: center;
}
.features .box .img-holder {
    position: relative;
    overflow: hidden;
}
.features .box .img-holder::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 98%;
}
.features .box.quality .img-holder::before {
    background-color: rgb(244 64 54 / 60%);
}
.features .box.time .img-holder::before {
    background-color: rgb(0 150 136 / 60%);
}
.features .box.passion .img-holder::before {
    background-color: rgb(3 169 244 / 60%);
}
.features .box .img-holder::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    background-color: white;
    width: 101%;
    height: 101%;
    clip-path: polygon(0 86%, 100% 46%, 100% 100%, 0 100%);
    transition: var(--main-transition);
}
.features .box:hover .img-holder::after {
    width: 200%;
    clip-path: polygon(0 89%, 0 50%, 98% 100%, 0 100%);
}
.features .box .img-holder img {
    max-width: 100%;
}
.features .box h2 {
    width: fit-content;
    margin: auto;
    font-size: 40px;
    position: relative;
}
.features .box h2::after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 30px);
    height: 5px;
}
.features .box.quality h2::after {
    background-color: #f44036;
}
.features .box.time h2::after {
    background-color: #009688;
}
.features .box.passion h2::after {
    background-color: #03a9f4;
}
.features .box p {
    padding: 25px;
    font-size: 20px;
    margin: 30px 0;
    line-height: 2;
    color: #777;
}
.features .box a {
    display: block;
    width: fit-content;
    margin: 0 auto 30px;
    padding: 10px 30px;
    font-weight: bold;
    border: 3px solid;
    font-size: 22px;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
    transition: var(--main-transition);
    z-index: 999;
}
.features .box.quality a {
    color: #f44036;
    border-color: #f44036;
}
.features .box.time a {
    color: #009688;
    border-color: #009688;
}
.features .box.passion a {
    color: #03a9f4;
    border-color: #03a9f4;
}
.features .box a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    transition: var(--main-transition);
    z-index: -1;
}
.features .box.quality a::before {
    background-color: #f44036;
    border-color: #f44036;
}
.features .box.time a::before {
    background-color: #009688;
    border-color: #009688;
}
.features .box.passion a::before {
    background-color: #03a9f4;
    border-color: #03a9f4;
}
.features .box:hover a {
    color: white;
}
.features .box:hover a::before {
    width: 105%;
    height: 105%;
    left: 0;
}
/* End Features */

/* Start Testimonials */
.testimonials {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--section-background);
}
.testimonials .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.testimonials .box {
    position: relative;
    background-color: white;
    box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
    padding: 20px;
    border-radius: 6px;
}
.testimonials .box img {
    width: 100px;
    height: 100px;
    max-width: 100%;
    position: absolute;
    right: -10px;
    top: -50px;
    z-index: 999;
    border-radius: 50%;
    border: 10px solid var(--section-background);
}
.testimonials .box h3 {
    margin: 0 0 10px;
}
.testimonials .box span {
    color: #777;
    display: block;
    margin-bottom: 10px;
}
.testimonials .box .rate .filled {
    color: #ffc107;
}
.testimonials .box p {
    color: #777;
    margin: 10px 0 0;
    line-height: 1.5;
}
/* End Testimonials */

/* Start Team */
.team {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}
.team .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}
.team .box {
    position: relative;
}
.team .box::before,
.team .box::after {
    content: "";
    background-color: #f3f3f3;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    border-radius: 10px;
    transition: var(--main-transition);
    height: 100%;
    transition: var(--main-transition);
}
.team .box::before {
    width: calc(100% - 60px);
    z-index: -2;
}
.team .box::after {
    width: 0;
    background-color: #e4e4e4;
    z-index: -1;
}
.team .box .inner-box {
    align-items: center;
    display: flex;
    padding-top: 60px;
}
.team .box .inner-box img {
    width: calc(100% - 60px);
    border-radius: 10px;
    transition: var(--main-transition);
}
.team .box .inner-box .social-icons {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
.team .box .inner-box .social-icons i {
    padding: 15px 20px;
    color: #777777;
    transition: var(--main-transition);
    cursor: pointer;
}
.team .box .inner-box .social-icons i:hover {
    color: var(--main-color);
}
.team .box .info {
    padding: 10px;
    padding-left: 80px;
}
.team .box .info h3 {
    color: var(--main-color);
    margin: 10px 0 0;
    transition: var(--main-transition);
}
.team .box .info p {
    margin: 10px 0;
}
.team .box:hover .inner-box img {
    filter: grayscale(100%);
}
.team .box:hover::after {
    width: calc(100% - 60px);
}
.team .box:hover .info h3 {
    color: #777777;
}
/* End Team */

/* Start Services */
.services {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: var(--section-background);
}
.services .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.services .box {
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    background-color: white;
    position: relative;
    text-align: center;
    transition: var(--main-transition);
}
.services .box::before {
    content: "";
    width: 0;
    height: 3px;
    background-color: var(--main-color);
    position: absolute;
    top: -3px;
    left: 50%;
    transform: translateX(-50%);
    transition: var(--main-transition);
}
.services .box:hover {
    transform: translateY(-10px);
}
.services .box:hover::before {
    width: 100%;
}
.services .box i {
    display: block;
    font-size: 80px;
    margin: 30px 0 20px;
    color: #d5d5d5;
}
.services .box h3 {
    color: var(--main-color);
    margin: 20px 0 40px;
    font-size: 25px;
}
.services .box p {
    color: var(--main-color);
}
.services .box .info {
    padding: 15px;
    text-align: right;
    background-color: #f9f9f9;
    counter-increment: services-num;
    position: relative;
}
.services .box .info::before {
    content: "0" counter(services-num);
    height: 100%;
    width: 80px;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
    font-size: 30px;
    color: white;
    font-weight: bold;
    background-color: var(--main-color);
}
.services .box .info::after {
    content: "";
    position: absolute;
    left: 80px;
    top: 0;
    height: 100%;
    width: 50px;
    background-color: #d5d5d5;
    transform: skewX(-30deg);
    z-index: 999;
}
.services .box .info p {
    margin: 0;
}
/* End Services */

/* Start Skills */
.skills {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: white;
}
.skills .container {
    display: flex;
    align-items: center;
}
.skills .skills-list {
    flex: 1;
    font-weight: bold;
}
@media (max-width: 991px) {
    .skills img {
        display: none;
    }
}
.skills .skills-list .skill .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.skills .skills-list .skill .title span {
    font-size: 12px;
    padding: 3px 5px;
    border: 1px solid #ccc;
    color: var(--main-color);
    border-radius: 4px;
    height: fit-content;
}
.skills .skills-list .skill .skill-bar {
    width: 100%;
    height: 30px;
    background-color: #eee;
    position: relative;
}
.skills .skills-list .skill .skill-bar span {
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--main-color);
    height: 100%;
}
/* End Skills */

/* Start Work Steps */
.work-steps {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: var(--section-background);
}
.work-steps .container {
    display: flex;
    align-items: center;
}
.work-steps .container > img {
    margin-right: 100px;
    max-width: 100%;
}
@media (max-width: 991px) {
    .work-steps .container {
        flex-flow: column;
    }
    .work-steps .container > img {
        margin: 0 auto 40px;
    }
}
.work-steps .steps .box {
    padding: 30px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    background-color: #f6f5f5;
    border: 2px solid white;
    border-radius: 6px;
    position: relative;
    z-index: 999;
}
.work-steps .steps .box::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    background-color: #ededed;
    transition: var(--main-transition);
}
.work-steps .steps .box:hover::before {
    width: 100%;
    height: 100%;
}
.work-steps .steps .box img {
    width: 64px;
    margin-right: 30px;
}
@media (max-width: 767px) {
    .work-steps .steps .box {
        flex-flow: column;
        text-align: center;
    }
    .work-steps .steps .box img {
        margin: 5px auto 25px;
    }
}
.work-steps .steps .box .info h3 {
    margin: 0;
    font-size: 22px;
}
.work-steps .steps .box .info p {
    line-height: 1.7;
    color: #777;
    font-size: 18px;
    margin: 10px 0 0;
}
/* End Work Steps */

/* Start Events */
.events {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}
.events .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.events img {
    max-width: 450px;
}
@media (max-width: 991px) {
    .events img {
        display: none;
    }
}
.events .content {
    flex: 1;
    text-align: center;
}
.events .content .time {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 20px auto;
    background-color: white;
    width: fit-content;
    position: relative;
    z-index: 999;
}
.events .content .time .unit {
    border: 1px solid #d4d4d4;
    border-radius: 6px;
    transition: var(--main-transition);
}
.events .content .time .unit:hover {
    border-color: var(--main-color);
}
.events .content .time span {
    display: block;
}
.events .content .time span:first-child {
    padding: 15px;
    font-size: 35px;
    font-weight: bold;
    color: var(--main-color);
}
.events .content .time span:last-child {
    text-align: center;
    padding: 8px 10px;
    font-size: 13px;
    border-top: 1px solid #d4d4d4;
    transition: var(--main-transition);
}
.events .content .time .unit:hover span:last-child {
    border-color: var(--main-color);
}
.events .content h3 {
    font-size: 30px;
    margin: 40px 0 0;
}
.events .content p {
    line-height: 1.7;
    font-size: 19px;
    color: #777;
}
.events .subscribe {
    width: 100%;
    margin-top: 50px;
}
@media (max-width: 767px) {
    .events .subscribe {
        margin-top: 30px;
    }
}
.events .subscribe form {
    padding: 30px 40px;
    margin: 20px auto;
    background-color: #f6f5f5;
    border-radius: 50px;
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.events .subscribe input[type="email"] {
    background-color: white;
    padding: 20px;
    border: none;
    flex: 1;
    border-radius: 50px;
    caret-color: var(--main-color);
}
.events .subscribe input[type="email"]:focus {
    outline: 1px solid var(--main-color);
}
.events .subscribe input[type="email"]:focus::placeholder {
    visibility: hidden;
}
.events .subscribe input[type="submit"] {
    cursor: pointer;
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 50px;
    padding:  20px;
    font-weight: bold;
    transition: var(--main-transition);
}
.events .subscribe input[type="submit"]:hover {
    background-color: var(--main-color-alt);
}
@media (max-width: 767px) {
    .events .subscribe form {
        width: 100%;
        border-radius: 0;
        padding: 20px;
    }
    .events .subscribe input[type="email"] {
        border-radius: 0;
    }
    .events .subscribe input[type="submit"] {
        width: 100%;
        border-radius: 0;
    }
}
/* End Events */

/* Start Pricing */
.pricing {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--section-background);
    position: relative;
}
.pricing .dots {
    z-index: auto;
}
.pricing .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}
.pricing .box {
    position: relative;
    background-color: white;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    transition: var(--main-transition);
    text-align: center;
    z-index: 1;
}
.pricing .box::before,
.pricing .box::after {
    content: "";
    z-index: -1;
    background-color: #f6f6f6;
    width: 0;
    height: 50%;
    position: absolute;
    transition: var(--main-transition);
}
.pricing .box::before {
    top: 0;
    left: 0;
}
.pricing .box::after {
    bottom: 0;
    right: 0;
}
.pricing .box:hover::before,
.pricing .box:hover::after {
    width: 100%;
}
@media (min-width: 1200px) {
    .pricing .box.popular {
        transform: translateY(-20px);
    }
}
.pricing .box.popular .label {
    position: absolute;
    writing-mode: vertical-rl;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    padding: 10px 10px 35px 10px;
    font-size: 18px;
    right: 20px;
    width: 40px;
}
.pricing .box.popular .label::before {
    content: "";
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-bottom-color: white;
    position: absolute;
    right: 0;
    bottom: -1px;
}
.pricing .box .title {
    font-size: 25px;
    margin: 30px 0;
}
.pricing .box img {
    width: 80px;
    margin-bottom: 30px;
}
.pricing .box .price {
    margin-bottom: 20px;
}
.pricing .box .price {
    margin-bottom: 20px;
}
.pricing .box .price .amount {
    display: block;
    font-size: 60px;
    margin-bottom: 5px;
    font-weight: bold;
    color: var(--main-color);
}
.pricing .box .price .time {
    color: #777;
}
.pricing .box ul {
    text-align: left;
}
.pricing .box ul li {
    font-size: 20px;
    padding: 20px;
    border-top: 1px solid #eee;
}
.pricing .box ul li::before {
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    font-weight: 900;
    color: var(--main-color);
    padding-right: 10px;
}
.pricing .box a {
    display: block;
    width: fit-content;
    margin: 30px auto 40px;
    padding: 15px 20px;
    font-size: 20px;
    font-weight: bold;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 6px;
    transition: var(--main-transition);
}
.pricing .box a:hover {
    background-color: var(--main-color);
    color: white;
}
/* End Pricing */

/* Start Video */
.video {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}
.video .holder {
    display: flex;
    border: 1px solid #ddd;
    background-color: var(--section-background);
}
@media (max-width: 991px) {
    .video .holder {
        flex-direction: column;
        height: fit-content;
    }
}
.video .holder .list {
    min-width: 300px;
    background-color: white;
}
.video .holder .list .head {
    padding: 20px;
    background-color: #f4f4f4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--main-color);
}
.video .holder .list ul li {
    border-top: 1px solid #ddd;
    padding: 20px;
    cursor: pointer;
}
.video .holder .list ul li:hover {
    background-color: #fafafa;
}
.video .holder .list ul li:hover p {
    color: var(--main-color);
}
.video .holder .list ul li p {
    margin: 0;
    transition: var(--main-transition);
}
.video .holder .list ul li span {
    display: block;
    margin-top: 10px;
    color: #777;
}
.video .holder .thumbnail {
    padding: 10px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    background-color: #e2e2e2;
}
.video .holder .thumbnail img {
    max-width: 100%;
}
.video .holder .thumbnail p {
    margin: 0;
    padding: 20px;
    background-color: white;
}
@media (max-width: 991px) {
    .video .holder .thumbnail p {
        margin-top: 10px;
    }
}
/* End Video */

/* Start Stats */
.stats {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-image: url(../images/stats.jpg);
}
.stats::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255 255 255 / 90%);
}
.stats .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    position: relative;
}
.stats .title {
    font-size: 40px;
    margin: 0 auto 50px;
    width: fit-content;
    position: relative;
}
.stats .box {
    text-align: center;
    padding: 30px 15px;
    background-color: white;
    position: relative;
}
.stats .box::before,
.stats .box::after {
    content: "";
    background-color: var(--main-color);
    width: 2px;
    height: 0;
    transition: .7s;
    z-index: 1;
    position: absolute;
}
.stats .box::before {
    bottom: 0;
    left: 0;
}
.stats .box::after {
    top: 0;
    right: 0;
}
.stats .box:hover::before,
.stats .box:hover::after {
    height: 100%;
}
.stats .box i {
    font-size: 42px;
}
.stats .box span {
    display: block;
}
.stats .box .number {
    font-size: 50px;
    font-weight: bold;
    margin: 10px 0;
}
.stats .box .text {
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    color: var(--main-color);
}
/* End Stats */

/* Start Discount */
.discount {
    display: flex;
    flex-flow: wrap;
    min-height: 100svh;
}
.discount .image {
    flex-basis: 50%;
    animation: change-background 15s linear infinite ;
    position: relative;
    background-size: cover;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    z-index: 999;
}
.discount .image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(23 135 224 / 97%);
    z-index: -1;
}
@media (max-width: 991px) {
    .discount .image {
        flex-basis: 100%;
    }
}
.discount .content {
    text-align: center;
    padding: 0 20px;
}
.discount .content h2 {
    font-size: 40px;
    letter-spacing: -2px;
}
.discount .content p {
    font-size: 18px;
    max-width: 500px;
    line-height: 1.6;
}
.discount .content img {
    width: 300px;
    max-width: 100%;
}
.discount .form {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 991px) {
    .discount .form {
        flex-basis: 100%;
    }
}
.discount .form .input {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 15px;
    background: #f9f9f9;
    margin-bottom: 25px;
    caret-color: var(--main-color);
}
.discount .form .input:focus {
    outline: none;
}
.discount .form textarea.input {
    resize: none;
    height: 200px;
}
.discount .form input[type="submit"] {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: var(--main-transition);
    margin-bottom: 50px;
}
.discount .form input[type="submit"]:hover {
    background-color: var(--main-color-alt);
}
/* End Discount */

/* Start Footer */
footer {
    background-color: #191919;
    padding: 70px 0 0;
}
footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}
footer .box {
    color: white;
}
@media (max-width: 767px) {
    footer .box {
        text-align: center;
    }
}
footer .box h3 {
    font-size: 50px;
    margin: 0 0 20px;
}
footer .box .social {
    display: flex;
}
@media (max-width: 767px) {
    footer .box .social {
        justify-content: center;
    }
}
footer .box .social a {
    background-color: #313131;
    color: #b9b9b9;
    width: 50px;
    height: 50px;
    font-size: 20px;
    transition: var(--main-transition);
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .box .social a.facebook:hover {
    background-color: #1877f2;
}
footer .box .social a.twitter:hover {
    background-color: #14171a;
}
footer .box .social a.youtube:hover {
    background-color: #ff0000;
}
footer .box p {
    color: #b9b9b9;
    font-size: 20px;
    line-height: 2;
}
footer .box ul {
    display: flex;
    flex-flow: column;
}
footer .box ul li {
    padding: 15px 0;
    transition: var(--main-transition);
}
footer .box ul li:not(:last-child) {
    border-bottom: 1px solid #444;
}
footer .box ul li:hover {
    padding-left: 10px;
}
footer .box ul li a {
    color: #b9b9b9;
    transition: var(--main-transition);
}
footer .box ul li a::before {
    font-family: "Font Awesome 5 Free";
    content: "\f101";
    font-weight: 900;
    color: var(--main-color);
    margin-right: 10px;
}
footer .box ul li:hover a {
    color: white;
}
footer .box .detail {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
@media (max-width: 767px) {
    footer .box .detail {
        flex-flow: column;
    }
}
footer .box .detail i {
    color: var(--main-color);
    font-size: 25px;
    margin-right: 10px;
}
@media (max-width: 767px) {
    footer .box .detail i {
        margin: 0 0 10px;
    }
}
footer .box .detail .text {
    color: #b9b9b9;
    line-height: 1.7;
    flex: 1;
}
footer .box .detail .text span {
    display: block;
}
footer .footer-gallery img {
    width: 78px;
    border: 3px solid white;
    margin: 2px;
}
footer .copyright {
    text-align: center;
    margin: 50px 0 0;
    padding: 25px;
    color: white;
    border: 1px solid #444;
}
/* End Footer */

/* Start Animation */
@keyframes up-and-down {
    0%, 100% {
        top: 0;
    }
    50% {
        top: -50px;
    }
}
@keyframes bouncing {
    0%,
    10%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40%,
    60% {
        transform: translateY(-15px);
    }
}
@keyframes left-move {
    50% {
        left: 0;
        width: 12px;
        height: 12px;
    }
    100% {
        border-radius: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
@keyframes right-move {
    50% {
        right: 0;
        width: 12px;
        height: 12px;
    }
    100% {
        border-radius: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
}
@keyframes read-more {
    100% {
        transform: translateX(-10px);
    }
}
@keyframes flashing {
    0%,
    40% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}
@keyframes change-background {
    0%,
    100% {
        background-image: url(../images/discount-background1.jpg);
    }
    50% {
        background-image: url(../images/discount-background2.jpg);
    }
}
/* End Animation */

/* ! Finish Template Three Style */